.cart-container {
  min-height: 100vh;
  padding: 100px;
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.cart-item-details {
  flex-grow: 1;
}

.price-container {
  display: flex;
  align-items: center;
}

.price-symbol {
  font-weight: bold;
  margin-right: 5px;
}

.price-amount {
  color: #504c4a;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="number"],
input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn-remove {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-remove:hover {
  background-color: #c0392b;
}

.cart-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.btn-progress-checkout {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-progress-checkout:hover {
  background-color: #27ae60;
}

.login-alert {
  background-color: #f6f3ee;
  color: rgb(24, 16, 16); /* لون النص */
  padding: 0px; /* زيادة padding لخلق مساحة حول النص */
  text-align: center; /* محاذاة النص في المنتصف */
  margin: 1px 0; /* الهامش العلوي والسفلي */
  border: none; /* إزالة الحدود */
}

.cart-checkout-form {
  display: flex;
  flex-direction: column;
}

.btn-checkout-submit {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-checkout-submit:hover {
  background-color: #2980b9;
}

.order-confirmation {
  background-color: #2ecc71;
  color: rgb(24, 10, 10);
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  display: none;
}